<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778790690087-jfj89pmepl0oav13nf0ggsbeue0i8esp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778790690087-jfj89pmepl0oav13nf0ggsbeue0i8esp</string>
	<key>API_KEY</key>
	<string>AIzaSyDaa2Yy9RUClionDNd8M0rvT5p0LSz3iFs</string>
	<key>GCM_SENDER_ID</key>
	<string>778790690087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Moran-sApps.FitnessTranningApp</string>
	<key>PROJECT_ID</key>
	<string>fitnesstraining-65f7a</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesstraining-65f7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778790690087:ios:99b7d2430dd34655111d02</string>
	<key>DATABASE_URL</key>
	<string>https://fitnesstraining-65f7a.firebaseio.com</string>
</dict>
</plist>